:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #242424;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

/* 通用的默认样式重置 */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 设置页面基本字体大小和字体族 */
html {
  font-size: 16px;
  font-family: Arial, sans-serif;
}

/* 移除列表元素前面的默认项目符号 */
ul, ol {
  list-style: none;
}

/* 移除链接的下划线，并添加一些基本样式 */
a {
  text-decoration: none;
  color: inherit;
}

/* 移除按钮默认样式 */
button {
  border: none;
  background: none;
  cursor: pointer;
}

/* 去除表单元素的默认外边距 */
input, textarea, button {
  margin: 0;
}


/* 自定义滚动条的样式 */
/* 针对不同浏览器的前缀 */
::-webkit-scrollbar {
  width: 6px;
	height: 6px;
}

::-webkit-scrollbar-track {
  background-color: #f0f0f0;
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}

/* 针对Firefox浏览器 */
/* Firefox 使用单独的伪类选择器来自定义滚动条 */
/* 请注意，不同版本的Firefox可能有不同的伪类选择器 */
* {
  scrollbar-width: thin;
  scrollbar-color: #888 #f0f0f0;
}

/* 为滚动条轨道设置背景色 */
/* 这适用于Edge浏览器 */
/* Edge 也支持伪类选择器，但适用性较差 */
/* 针对不同版本的Edge，你可能需要不同的伪类选择器 */
*::-webkit-scrollbar-track {
  background-color: #f0f0f0;
}

/* 针对不同版本的Edge，你可能需要不同的伪类选择器 */
*::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 4px;
}


@media (prefers-color-scheme: light) {
	:root {
		color: #213547;
		background-color: #ffffff;
	}
	a:hover {
		color: #747bff;
	}
	button {
		background-color: #f9f9f9;
	}
}

#app {
	height: 100vh;
	width: 100vw;
	--primary-color: #007bff;
}


